@model IEnumerable<Zippo_Manage.Models.SanPhamModel>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Trang Chủ";
}


@section DanhSachSP {
    <div class="row">
        @foreach (var sp in Model)
        {
            <div class="col-md-3">
                <div class="member">
                    <a asp-action="chiTietSanPham" asp-controller="SanPham" asp-route-maSP="@sp.MaSp">
                        <img class="img-responsive" src="@Url.Content("~/img/products/" + sp.HinhAnhPath)" alt="@sp.TenSp" />
                    </a>
                    <h4><a asp-action="chiTietSanPham" asp-controller="SanPham" asp-route-maSP="@sp.MaSp">@sp.TenSp - @sp.MaSp</a></h4>
                    <span class="org">@String.Format("{0:0,0}đ", sp.Gia)</span>
                </div>
            </div>
        }
    </div>
}


@section SanPhamBanChaySection {
    <div class="row">
        @foreach (var sp in Model.Take(4))
        {
            <div class="col-md-3">
                <div class="member">
                    <a asp-action="chiTietSanPham" asp-controller="SanPham" asp-route-maSP="@sp.MaSp">
                        <img class="img-responsive" src="@Url.Content("~/img/team/" + sp.HinhAnhPath)" alt="@sp.TenSp" />
                    </a>
                    <h4><a asp-action="chiTietSanPham" asp-controller="SanPham" asp-route-maSP="@sp.MaSp">@sp.TenSp - @sp.MaSp</a></h4>
                    <span class="org">@String.Format("{0:0,0}đ", sp.Gia)</span>
                </div>
            </div>
        }
    </div>
}